<h1>投稿を編集</h1>

<%= form_with(model: @post, local: true) do |f| %>
  <div>
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :content, "内容" %>
    <%= f.text_area :content %>
  </div>

  <div>
    <%= f.label :images, "画像アップロード（複数可）" %><br>
    <%= f.file_field :images, multiple: true, direct_upload: true %>
  </div>

  <% if @post.images.attached? %>
    <p>現在の画像:</p>
    <div class="d-flex flex-wrap">
      <% @post.images.each do |image| %>
        <%= image_tag image.variant(resize_to_limit: [300, 300]).processed, class: "img-thumbnail mr-2 mb-2" %>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= f.submit "更新する" %>
  </div>
<% end %>

<%= link_to "キャンセル", post_path(@post) %>